<div class="user-details-container">
  <h3>Employee Details</h3>
  <div class="form-group">
    <label><b>Name:</b></label>
    <div>{{ user.username }}</div>
  </div>
  <div class="form-group">
    <label><b>Employee ID</b></label>
    <div>{{ user.userId }}</div>
  </div>
  <div class="form-group">
    <label><b>Email Id:</b></label>
    <div>{{ user.email }}</div>
  </div>
  <div class="form-group">
    <label><b>Teams:</b></label>
    <ul>
      <li *ngFor="let team of user.teams">{{ team }}</li>
    </ul>
  </div>
  <div class="form-group">
    <label><b>Designation:</b></label>
    <div>{{user.designation}}</div>
  </div>
  <div class="form-group">
    <label><b>Reporting Manager:</b></label>
    <!-- <div>{{}}</div> -->
  </div>

  <!-- Button Group -->
  <div class="button-group">
    <button class="btn-primary" (click)="editUser()">Update</button>
    <button class="btn-cancel" (click)="deleteUser()">Delete</button>
  </div>
</div>
