/* Global Styles */
body {
    background-color: #ffffff; /* White for background */
    color: #333333; /* Dark Grey for text */
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0px;
  }
  
  /* Additional global styles can be added here */